.table {
    width: 80vw;
    margin: auto;
    height: 80vh;
    border-collapse: collapse;
    table-layout: fixed;
}



.table tr {
    border-bottom: 1px solid black;
    text-align: left;
    height: 11%;
}

.table th {
    font-weight: bolder;
    font-size: 1.3em;
    padding: 3px 0 3px 0;
}

.table tbody {
    font-weight: 100;
}

.table td {
    padding: 3px 0 5px 0;
}